<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @discussion_comment.comment %>
</p>

<p>
  <b>Bounty:</b>
  <%= @discussion_comment.bounty_id %>
</p>

<p>
  <b>Discussion:</b>
  <%= @discussion_comment.discussion_id %>
</p>


<%= link_to 'Edit', edit_discussion_comment_path(@discussion_comment) %> |
<%= link_to 'Back', discussion_comments_path %>
