<%= form_for [@bounty, @discussion] do |f| %>


  <div class="well">
    <%= f.text_area :discussion, class: "discussion-box", placeholder: "Ask questions to learn more about your customer." %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :bounty_id, value: @bounty.id %>
    <%= f.submit "Start Discussion" %>
  </div>
<% end %>
