<h1>Listing discussions</h1>

<table>
  <tr>
    <th>Discussion</th>
    <th>User</th>
    <th>Bounty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.discussion %></td>
    <td><%= discussion.user_id %></td>
    <td><%= discussion.bounty_id %></td>
    <td><%= link_to 'Show', [@bounty, discussion] %></td>
    <td><%= link_to 'Edit', edit_bounty_discussion_path(@bounty, discussion) %></td>
    <td><%= link_to 'Destroy', [@bounty, discussion], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion', new_bounty_discussion_path %>
