<%= form_for @bounty do |f| %>
		<div class="well well-small">
			<table class="table table-bordered">
				<tr>
					<th>Submissions</th>
				</tr>
				<tr>
					<th>Title</th>
					<th>Play</th>
					<th>Select</th>
				</tr>
				<% @bounty.uploads.each do |up| %>
					<tr>
						<td><%= up.title %></td>
						<td><%= truncate up.upload.to_s, length: 50 %></td>
						<td><%= f.radio_button :winner, up.id %></td>
					</tr>
				<% end %>
			</table>
			<%= f.submit 'Select Winner', class: 'btn' %>

			<% if @bounty.winner? %>
				<span class="lead">You selected <%= @bounty.winner %> to win.</span>

				<%= link_to 'Confirm', edit_user_upload_path(get_user_id_from_upload_id(@bounty.winner), @bounty.winner), class: 'btn btn-danger' %>
			<% end %>

		</div>
<% end %>
