<%= simple_form_for(@bounty) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :bounty %>
		<% if current_user.has_role? :admin %>
    	<%= f.input :paid, label: 'Is the bounty secured by payment?' %>
		<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
