<table class="table table-bordered">
	<tr><th>Live Bounties</th></tr>
	<tr>
		<th></th>
		<th>Headline</th>
		<th>Bounty</th>
		<th>Set by:</th>
	</tr>
	<% @bounties.each do |bounty| %>
		<% if bounty.paid? %>
			<% unless bounty.closed? %>
				<tr>
					<td><%= link_to 'View', bounty, class: 'btn btn-small btn-primary btn-block' %></td>
					<td><%= bounty.title %></td>
					<td>$<%= bounty.bounty %></td>
					<td><%= get_user_name(bounty.user_id) %></td>
				</tr>
			<% end %>
		<% else %>
			<% if bounty.user_id == current_user.id %>
				<tr class="alert alert-danger"><th>Your Bounty is:</th><th>Not Secured</th><th></th><th></th></tr>
				<tr class="alert alert-danger">
							<td><%= link_to 'View', bounty, class: 'btn btn-small btn-danger btn-block' %></td>
							<td><%= bounty.title %></td>
							<td>$<%= bounty.bounty %></td>
							<td><%= get_user_name(bounty.user_id) %></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>
