<div class="row">
	<div class="span8">
		<div class="well well-small">
			<table class="table table-bordered">
				<tr><th>Submissions</th></tr>
				<% @bounty.uploads.each do |up| %>
					<tr><td><%= up.upload %></td></tr>
				<% end %>
			</table>
		</div>
		<div class="well well-small">
			<h2>
				<%= @bounty.title %>
			</h2>


			<p>
				<b>Bounty set by:</b>
				<%= get_user_name(@bounty.user_id) %>
			</p>


			<table class="table table-bordered">
				<tr><th>Details:</th></tr>
				<tr><td><%= @bounty.body %></td></tr>
			</table>
		</div>
		
		<h3>Discussions</h3>
		<p><span class="lead muted">Discuss the buyer's needs on this public forum.</span></p>
	
		<ul class="unstyled">
			<% @bounty.discussions.each do |d| %>
				<li>
					<div class="well"><%= d.discussion %> <span class="muted"><%= get_user_name(d.user_id) %></span>
						<ul class="unstyled">
							<% @bounty.discussion_comments.each do |dc| %>
								<% if dc.discussion_id == d.id %>
									<li><i class="icon-chevron-right"></i> <%= dc.comment %> <span class="muted"><%= get_user_name(dc.user_id) %></span></li>
								<% end %>
							<% end %>
							<li><%= link_to 'Add Comment', new_bounty_discussion_comment_path(@bounty, discussion_id: d.id), class: 'btn btn-small' %></li>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>

		<%= render 'discussions/form' %>

	</div>
	
	<div class="span4">
		<table class="table table-bordered">
			<tr><th>Bounty:</th></tr>
			<tr><td><h2>$<%= @bounty.bounty %></h2></td></tr>
		</table>

		<% if @bounty.user_id == current_user.id %>
			<%= link_to 'Edit', edit_bounty_path(@bounty), class: 'btn btn-block btn-primary' %>
		<% else %>
			<%= link_to 'Claim Bounty', new_bounty_submission_path(@bounty), class: 'btn btn-block btn-success btn-large' %>
		<% end %>
		<%= link_to 'Back', bounties_path, class: 'btn btn-block btn-primary' %>
		<div class='well'>
			<h3>Bounty Page</h3>
			<p>
				This page displays the details of a bounty. Page access is granted to all users. Page features and ability vary between buyers (specifically the bounty owner) and the sellers. 
			</p>
		</div>
		<% unless @bounty.paid? %>
			<a href="http://www.plexm.com" class="dwolla_button btn-block btn" data-name="Bounty Package" data-desc="Buyer selects desired submission by artist who wants the bounty." data-amount="<%= @bounty.bounty %>" data-shipping="0" data-tax="0" data-key="8d78xAb4zBaL+CzTCdECEL0/sjboDegixOCrCubwFMEONlWQmB">Set Bounty with Dwolla</a>
		<% end %>
	</div>
</div>


<script type="text/javascript" src="https://www.dwolla.com/scripts/button.min.js"> </script>
