<p id="notice"><%= notice %></p>

<p>
  <b>Upload:</b>
  <%= @submission.upload_id %>
</p>

<p>
  <b>Bounty:</b>
  <%= @submission.bounty_id %>
</p>


<%= link_to 'Edit', edit_bounty_submission_path(@submission) %> |
<%= link_to 'Back', bounty_submissions_path %>
