<%= simple_form_for(@prelaunch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
		<span class="lead">
			<%= f.input :email %>
			<%= f.submit "Get in line", class: 'btn btn-large btn-danger' %>  10<%= @prelaunches.count %> currently in line.
		</span>
  </div>

<% end %>
