<%= simple_form_for([@user, @upload]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :title %>
    <%= f.file_field :upload %>
  </div>
	<div>
    <p><%= f.check_box :agreement %> Check this box to agree to our terms.</p>
	</div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
