<%= simple_form_for(@upload) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :title %>
    <%= f.file_field :upload %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
