<table>
	<tr>
		<th>Title</th>
		<th>Upload</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @uploads.each do |upload| %>
	<tr>
		<td><%= upload.title %></td>
		<td><%= upload.upload %></td>
		<td><%= link_to 'Show', [@user, upload] %></td>
		<td><%= link_to 'Edit', edit_user_upload_path(@user, upload) %></td>
		<td><%= link_to 'Destroy', [@user, upload], method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</table>
<br />

<%= link_to 'New Upload', new_user_upload_path %>
