<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @upload.title %>
</p>

<p>
  <b>Upload:</b>
  <%= @upload.upload %>
</p>


<%= link_to 'Edit', edit_user_upload_path(@user, @upload) %> |
<%= link_to 'Back', user_uploads_path %>
